<% include header %>

    <div class="container">
      <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
          <li><a href="/connections/">Connections</a></li>
        </ol>
      </nav>

      <div class="pt-4 pb-2">
        <h1 class="text-secondary pb-4">About</h1>
        <p>More information will be added here in the future.</p> 
      </div>

<% include footer %>
