<% include header %>

      <div class="pt-4 pb-2">
        <h1 class="text-secondary pb-4">About</h1>
        <p>More information will be added here in the future.</p> 
      </div>

<% include footer %>
