<% include header %>

      <div class="pt-4 pb-2">
        <h1 class="text-secondary pb-4">Connections</h1> 
        <ul>
          <% for(var i = 0; i < data.length; i++) { %>
                <li>
                    <a href="/connection/<%= data[i].id %>">
                        <h4><%= data[i].title %></h4>
                    </a>
                </li>
          <% } %>
        </ul>
      </div>

<% include footer %>
