<% include header %>

      <div class="pt-4 pb-2">
        <h1 class="text-secondary pb-4">Contact</h1>
        <p>You can contact us by emailing karl (at) karlmcguire.com.</p> 
        <p>Thank you, and have a good day!</p>
      </div>

<% include footer %>
