<% include header %>

    <div class="container">
      <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
          <li><a href="/connections/">Connections</a></li>
        </ol>
      </nav>

      <div class="pt-4 pb-2">
        <h1 class="text-secondary pb-4">Contact</h1>
        <p>You can contact us by emailing karl (at) karlmcguire.com.</p> 
        <p>Thank you, and have a good day!</p>
      </div>

<% include footer %>
