
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <span class="text-dark">
              <svg class="mb-1" width="28" height="28" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="150" cy="150" r="150" fill="#444"/><circle cx="150" cy="150" r="75" fill="#f8f9fa"/><path fill="#444" d="M46 57h104v181H46z"/></svg> 
              Blit 
            </span>
            <small class="d-block mb-3 text-muted">&copy; 2019-2020</small>
          </div>
          <div class="col-6 col-md">
            <h5>View</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/connections/">Connections</a></li>
              <li><a class="text-muted" href="/savedConnections/">Saved Connections</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/contact/">Contact Us</a></li>
              <li><a class="text-muted" href="#">Datasets</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/about/">Team</a></li>
              <li><a class="text-muted" href="/about/">Origins</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

  </body>
</html>
