<% include header %>

      <div class="pt-4 pb-2">
        <h1 class="text-secondary pb-4">Home</h1>
        <p>This website is a community for Unix enthusiasts to meet up and discuss all its aspects. Whether you're interested in systems programming, software development, open source, or something esoteric like ASCII art, this is a central location for you to connect!</p>
        <p>The features are currently quite basic, but think of this like a Meetup.com for the Unix community.</p>
      </div>

<% include footer %>
