    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand mt-1" href="/">
          <svg class="mb-1" width="28" height="28" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="150" cy="150" r="150" fill="#444"/><circle cx="150" cy="150" r="75" fill="#f8f9fa"/><path fill="#444" d="M46 57h104v181H46z"/></svg> 
          Blit 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/newConnection/">Start a new connection</a>
            </li>
            <% if(user == undefined) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login/">Login</a>
                </li>
                <li class="nav-item ml-2">
                  <a href="/login/" class="btn btn-outline-success">Sign up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/savedConnections">My Connections</a>
                </li>
                <li class="nav-item ml-2">
                  <a href="/signOut" class="btn btn-outline-success">Sign Out</a>
                </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb d-flex justify-content-between">
          <li><a href="/connections/">Connections</a></li>
          <% if(user != undefined) { %>
            <li>Signed in as <%= user.firstName %> <%= user.lastName %></li>
          <% } %>
        </ol>
      </nav>
